apiVersion: apps/v1
kind: Deployment
metadata:
  name: person-webapp-deployment
  labels:
    app: person-webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: person-webapp
  template:
    metadata:
      labels:
        app: person-webapp
    spec:
      containers:
      - name: person-webapp
        image: localhost:5000/basic-rest-controller:1.0.3
        ports:
        - containerPort: 8080
          name: app
        - containerPort: 5005
          name: debug
        env:
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-user
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
#        - name: SPRING_DATASOURCE_URL
#          valueFrom:
#            configMapKeyRef:
#              name: mysql-config
#              key: mysql-url
        - name: SPRING_JPA_HIBERNATE_DDLAUTO
          value: validate
        - name: SPRING_JPA_PROPERTIES_HIBERNATE_SHOW_SQL
          value: "false"
        - name: SPRING_PROFILES_ACTIVE
          value: rke
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: person-webapp-service
spec:
  type: NodePort # default=ClusterIP
  selector:
    app: person-webapp
  ports:
    - name: app-port
      port: 8080
      nodePort: 30100
    - name: debug-port
      port: 5005
